<%# <h1>Editing Task</h1> %>

<%# <%= render 'form', task: @task %> 
<div>

    <%= react_component 'tasks/Edit', { task: @task } %>
</div> 
<div class="container pt-2">
    <%= link_to 'Back', tasks_path %>
</div>
