<p id="notice"><%= notice %></p>

<H1 class="text-success">List of tasks will appear here</H1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

<%= link_to 'New Task',"#" %>
