<p id="notice"><%= notice %></p>

<div>
  <%= react_component 'tasks/Show', { task: @task } %>

</div>
<%# <%= link_to 'Edit', "/tasks/#{@task.id}/edit"%>  
<div class="container">
  <%= link_to 'Back', tasks_path %>
</div>